<!DOCTYPE html>
<html>
<link>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="css/style.css" />
</head>
<header class="container is-full">
  <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand"></div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Home</strong>
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {{#if isLoggedIn}}
          <div class="buttons">
            <a class="button is-primary">
              <strong>Profile</strong>
            </a>
            <a class="button is-primary">
              <strong>Log Out</strong>
            </a>
          </div>
          {{else}}
          <div class="buttons">
            <a class="button is-primary" href="/login"><strong>Login</strong></a>
            <a class="button is-primary" href="/login"><strong>Sign Up</strong></a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</header>

<body class="container">
  {{{ body }}}
</body>
<footer class="footer has-background-primary">
  <div class="content has-text-centered">Neighborhood Watch App</div>
</footer>

</html>