<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Neighborhood Watch</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="css/style.css" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/bulmascript.js"></script>
</head>
<header>
  <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/">
            <strong>Home</strong>
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {{#if isLoggedIn}}
          <div class="buttons">
            <a href="/profile" class="button is-primary">
              <strong>Profile</strong>
            </a>
            <a class="button is-primary btn-logout">
              <strong>Log Out</strong>
            </a>
          </div>
          {{else}}
          <div class="buttons">
            <a class="button is-primary" href="/login"><strong>Login</strong></a>
            <a class="button is-primary" href="/login"><strong>Sign Up</strong></a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
  {{{ body }}}
</body>
<footer class="footer has-background-primary">
  <div class="content has-text-centered">Neighborhood Watch App</div>
</footer>

{{#if isLoggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>