{{#each serializedN as |neighborhood| }}
<div class="columns">
  <section class="columns is-6">
    <section class="column">
      <div class="card column mt-5 has-background-success-light min-width-">
        <div class="card-content">
          <div class="title">{{neighborhood.neighborhood_name}}</div>
          <h2 class="content">Your rating: <span class="icon">
              <i class="fas fa-star"></i>
            </span><span class="icon">
              <i class="fas fa-star"></i>
            </span>
          </h2>
          <p>Comments: {{Review.content}}</p>
        </div>
      </div>
    </section>
  </section>
  {{/each}}
  {{!-- <section class="column is-6">
    <div class="card column has-background-success-light">
      <div class="card-content">
        <div>
          <!-- Image SRC goes here -->
          <img src="https://picsum.photos/200/300" />
        </div>
        <div>
          <p>Average Safety Rating: <span class='fas fa-star'></span><span class='fas fa-star'></span><span
              class='fas fa-star'></span> </p>
        </div>
        <p>Ocean Beach Example</p>
        <p>This city is trash on Sundays</p>
        <p>My username is ___</p>
        <p> Your safety rating: <span class='fas fa-star'></span><span class='fas fa-star'></span><span
            class='fas fa-star'></span><span class='fas fa-star'></span><span class='fas fa-star'></span></p>
      </div>
    </div>

  </section>
</div> --}}
