<link rel="stylesheet" href="css/homebtn.css" />
<div class="columns">
  <section class="columns is-6">
    <section class="column">

      {{#each serializedN}}
      <div class="card column mt-5 has-background-success-light min-width-">
        <div class="card-content">
          <div class="title"><a href="neighborhood/{{{this.id}}}">{{this.neighborhood_name}}</a></div>
          {{!-- <h2 class="content"><b>Average rating:</b> {{ format_stars avgrank }} </h2> --}}
          {{#each reviews}}
          <p><b>Reviews:</b> {{this.content}}</p>
          {{/each}}
        </div>
      </div>
      {{/each}}

    </section>
  </section>
  <section class="column is-6">
    <div class="card column has-background-success-light">
      <div class="card-content">
        <div>
          <!-- Image SRC goes here -->
          <img src="https://picsum.photos/1200/300" />
        </div>
        <div>
          <p>Average Safety Rating: <span class='fas fa-star'></span><span class='fas fa-star'></span><span
              class='fas fa-star'></span> </p>
        </div>
        <p>Ocean Beach Example</p>
        <p>This city is trash on Sundays</p>
        <p>My username is ___</p>
        <p> Your safety rating: <span class='fas fa-star'></span><span class='fas fa-star'></span><span
            class='fas fa-star'></span><span class='fas fa-star'></span><span class='fas fa-star'></span></p>
      </div>
    </div>

  </section>
</div>