<div class="columns">
  <section class="column is-6 is-flex">
    <div class="card column mt-2">
      <div class="card-content has-text-centered">
        <form class="login-form">
          <div class="field">
            <h1 class="title">Log In</h1>
            <label class="label">Username</label>
            <div class="control">
              <input class="input" id="username-login" type="text" placeholder="e.g Han Solo">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" id="password-login" type="password" placeholder="Password">
            </div>
          </div>
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </form>



      </div>
    </div>

  </section>
  <section class="column is-6 is-flex">
    <div class="card column mt-2">
      <div class="card-content has-text-centered">
        <div class="field">
          <h1 class="title">Sign Up</h1>
          <label class="label">Username</label>
          <div class="control">
            <input class="input" id="name-signup" type="text" placeholder="e.g Johnny Appleseed">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" id="email-signup" type="text" placeholder="e.g Janedoe@hello.com">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" id="password-signup" type="email" placeholder="Password">
          </div>
        </div>
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </div>
    </div>


</div>

</section>
</div>
<script src="/js/login.js"></script>