<h1 class='title'>Your ratings:</h1>
<main class="columns">

  <section class="column">
    <div class="card column mt-5 has-background-success-light min-width-">
      <div class="card-content">
        <div class="title">Ocean Beach</div>
        <h2 class="content">Your rating: <span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span>
        </h2>
        <p>Comments: I encountered a very rude pigeon while walking around who thought he owned the whole street.</p>
      </div>
    </div>
  </section>
  <section class="column">
    <div class="card column mt-5 has-background-success-light min-width-">
      <div class="card-content">
        <div class="title">San Ysidro</div>
        <h2 class="content">Your rating: <span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span>
        </h2>
        <p>Comments: Had a great time today, I rode the trolley for the first time!</p>
      </div>
    </div>
  </section>
  <section class="column">
    <div class="card column mt-5 has-background-success-light min-width-">
      <div class="card-content">
        <div class="title">North Park</div>
        <h2 class="content">Your rating: <span class="icon">
            <i class="fas fa-star"></i>
          </span>
        </h2>
        <p>Comments: Nothing to do here, everything was closed due to some kind of pandemic? Horrible vibe, not comming
          back.</p>
      </div>
    </div>
  </section>
  <section class="column">
    <div class="card column mt-5 has-background-success-light min-width-">
      <div class="card-content">
        <div class="title">Pacific Beach</div>
        <h2 class="content">Your rating: <span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span><span class="icon">
            <i class="fas fa-star"></i>
          </span>
        </h2>
        <p>Comments: Today was a chill day at the beach. Watched the sunset while feeding some seagulls.</p>
      </div>
    </div>
  </section>

</main>