.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 28px;
  background-color: #e7e7e7;
  color: black;
}

.card {
  min-width: 288px;
  min-height: 237px;
}

.rating {
  float: left;
  width: 300px;
}
.rating span {
  float: right;
  position: relative;
}
.rating span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.rating span label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #ccc;
  font-size: 30px;
  margin-right: 2px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background: #f90;
  color: #fff;
}
.profile-title {
  padding: 20px;
}

.profile-username {
  font-weight: 700;
}
